<div class="item-container-front">
    <a href="#" class="item-image-container">
        <img src="{{picture}}" alt="Item image" width="300" height="300" />
    </a>
    <div class="item-details">
        <div class="item-title-container">
            <a href="#">{{title}}</a>
        </div>
        <div class="item-price-container">
            <p>Precio: ${{price}}</p>
        </div>
        <div class="item-quantity-container">
            <p>Cantidad: {{quantity}}</p>
        </div>
        <div class="item-listing-container">
            <p>Publicación {{listingType}}</p>
        </div>
    </div>
    <div class="item-action-container">
        <input type="submit" name="" value="Modificar" class="ch-btn ch-btn-large" data-js="modifyBtn">
    </div>
</div>